RT_VALID_PHONE=
RT_VALID_EMAIL=
RT_VALID_LOGIN=
RT_VALID_LS=
RT_VALID_PASSWORD=
RT_WRONG_PASSWORD=incorrect-password
RT_FIRST_NAME=Тест
RT_LAST_NAME=Пользователь
RT_REGION=Москва
RT_NEW_EMAIL=
RT_NEW_PASSWORD=
